.login {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(176, 173, 173, 0.1),
    -5px -5px 15px rgba(161, 158, 158, 0.1);
  padding: 20px;
}
p {
  width: 60%;
  margin: 10px auto;
}
p a {
  color: black;
}
