.donut-checkout {
  display: flex;
  border-radius: 20px;
  background-color: white;
  height: 100px;
  width: 100%;
  margin: 30px 0;
}
.donut-checkout img {
  height: 100%;
  width: 40%;
  margin-right: 20px;
}
.donut-checkout .right {
  width: 60%;
}
.donut-checkout .inner-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donut-checkout .inner-left {
  font-size: 13px;
  font-size: 10px;
}
.donut-checkout .inner-right .donut-checkout .addToCartContainer .addToCart {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.donut-checkout .addToCartContainer .increase,
.donut-checkout .addToCartContainer .decrease {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin: 0 10px;
}
.donut-checkout .addToCartContainer span {
  font-size: 20px;
}
