.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
  height: 30%;
}
.header .left {
  width: 70%;
  height: 100%;
}
.header div ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.header div ul li {
  list-style-type: none;
  margin: 0 20px;
}
.header div ul li a {
  text-decoration: none;
  color: #571f32;
}
.header .right {
  height: 100%;
}
.header .right ul li {
  font-size: 30px;
}
.header .search {
  width: 200px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
}
.header .search .search-bar {
  font-size: 25px;
  padding: 5px;
  background-color: #fff;
  outline: none;
  border: none;
  color: black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 2px solid #000;
}
.header .search input {
  outline: none;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 20px;
}
@media screen and (max-width: 850px) {
  .header {
    flex-direction: column;
    height: 100%;
  }
  .header .left,
  .header .right {
    width: 100%;
  }
  .header div ul {
    height: 0;
  }
}
